*{
	margin: 0;
	padding: 0;
}
#formularios{
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}
.formulario{
	width: 60%;
	margin: 0 auto;
	padding: 30px;
	border: 2px solid black;
	margin-bottom: 5px;
}

.restart {
    background: url(../images/restart.png);
    border: 0;
    display: inline;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.send {
    background: url(../images/check.png);
    border: 0;
    display: inline;
    height: 31px;
    width: 31px;
}

.restart:active {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
}

.send:active{
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
}

input[type="radio"]{
	margin: 5px;
}

.respuesta p:hover{
	background: rgba(102, 102, 255, 0.4);
}

span{
	font-size: 30px;
}

.text-answer{
	display: none;
}

.contador{
	margin-top: 5px;
	font-weight: bold;
}

#contadorGlobal{
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: sticky;
	text-align: center;
	background-color: #333;
	color: white;
	z-index: 1;
}
img{
	float:right;
}
input[type="text"]{
	border: 0;
	border-bottom: 1px solid black;
	text-align: center;
	width: 100px;
}

input[type="text"]:focus{
	outline: none;
}
input[type="text"]:disabled{
	background: none;
	/*background: none;*/
}
.formulario4 p{
	margin: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	padding: 20px;
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: auto;
	border-radius: 12px;
	text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}